.Modal div {
    font-size: 1rem;
    background-color: var(--background);
    color: var(--white);
}


.Modal button{
    color: var(--white);
}
.Modal button:hover,
.Modal button:focus {
    color: var(--white);
}

.ModalButton {
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity .3s;
}
    
.ModalButton:hover,
.ModalButton:focus {
    opacity: .8;
    text-decoration: none;
    color: var(--primary);
}